p{
	margin-left: 90px;
	margin-right: 90px;
}
body{
	background: url();
}

#a1 {
	font-size: 25px;
	text-decoration:none;
  text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
  color: steelblue;
  transition: all 1s;
  }
#a1:hover {
    color: yellowgreen;
    }
  